body{
    background-color:#57C512;
}

header{
    background-color:#3F9808;
    padding:15px;
}

header h1{
    color:black;
}

ul li{
    list-style-type:none;
}

h3{
    color:white;
}

footer{
    background-color:#3F9808;
    padding:10px;
}